{% extends "portal/portal.html" %}
{% comment %}
    Create a group.
{% endcomment %}

{% block title %}
    Create Group
{% endblock %}

{% block content %}
    <section>
    
        {% if error %}
            <font color="red"><p>Error: {{ error }}</p></font>
        {% endif %}
    
        <h2>Create Group</h2>
        <form action="/portal/group/create/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create Group">
        </form>
        
    </section>
    <br>
    <br>
{% endblock %}

