{% extends "portal/portal.html" %}
{% comment %}
    Group details page, including turn details.
{% endcomment %}

{% block title %}
    Group
{% endblock %}

{% block content %}
    <section>
        {% if group %}
            <h2>Group: {{ group.name }}</h2>
            <h3>Password: {{ group.password }}</h3>
            [<a href='/portal/group/{{ group.pk }}/leave/' onclick="return confirm('Are you sure you want to leave the group?')">Leave Group</a>]
            <h3>Members</h3>
            {% if group.member_list.all|length > 0 %}
                {% for mem in group.member_list.all %}
                    <ul>
                        {{ mem.username }} [<a href='/portal/history/gift/{{ mem.pk }}'>Gifting History</a>] [<a href='/portal/history/rate/{{ mem.pk }}'>Rating History</a>]
                    </ul>
                {% endfor %}
                <br><br>
                
                {% if group.turn %}
                
                    {% if group.turn == user %}
                        <h4>It's your turn.</h4>
                        {% if group.prev_turn.song_list.all|length > 0 %}
                            {% for song in group.prev_turn.song_list.all %}
                                <p><b>{{ song.name }} | <a href='{{ song.url }}' target='_blank'>Link</a> | <a href='/portal/group/{{ group.pk }}/rate/{{ song.pk }}'>Rate/Rank/Comment</a> | <a href='/portal/group/{{ group.pk }}/alreadyheard/{{ song.pk }}' onclick="return confirm('Are you sure you want to mark this song as already heard?')">Heard already</a></b></p>
                                <ul>
                                {% if song.rater %}
                                    {% if song.rating %}
                                        <li>You gave this song a rating of {{ song.rating }}.</li>
                                    {% endif %}
                                    {% if song.rank %}
                                        <li>You gave this song a rank of {{ song.rank }}.</li>
                                    {% endif %}
                                    {% if song.comment %}
                                        <li>Comment: {{ song.comment }}</li>
                                    {% endif %}
                                {% else %}
                                    <li>You have not rated, ranked, or commented on this song yet.</li>
                                {% endif %}
                                </ul><br>
                            {% endfor %}
                            <br>
                            {% if group.prev_turn.song_list.all|length|add:"1" == group.member_list.all|length %}
                                <p>All members have gifted their songs.</p>
                            {% endif %}
                        {% else %}
                            <p>No one has gifted any songs yet.</p>
                        {% endif %}
                        <br><br>
                        
                        {% if rated or group.prev_turn.song_list.all|length == 0 %}
                        <ul>
                            <a href='/portal/group/{{ group.pk }}/autogift/' onclick="return confirm('Are you sure you want to invoke auto-gift?')">Auto Gift</a>
                            <br><br>         
                            <a href='/portal/group/{{ group.pk }}/end_turn' onclick="return confirm('Are you sure you want to end the turn?')">End Turn</a>
                        </ul>
                        {% else %}
                            You have not rated all songs gifted yet.
                        {% endif %}
                        
                    {% else %}
                        <h4>It's {{ group.turn.username }}'s turn.</h4>
                        {% if gifted %}
                            <p>You have gifted <a href='{{ gifted.url }}' target='_blank'>{{ gifted.name }}</a>.</p>
                        {% else %}
                            {% if nsongs|length > 0 %}
                                <p>Some songs you might want to gift:</p>
                                <ul>
                                {% for song in nsongs %}
                                    <b><a href='{{ song.url }}' target='_blank'>{{ song.name }}</a> (<a href='/portal/group/{{ group.pk }}/gift/{{ song.pk }}' onclick="return confirm('Are you sure you want to gift this song?')">Gift</a>)</b><br>
                                {% endfor %}
                                </ul>
                                <p><a href='/portal/group/{{ group.pk }}/gift'>Gift manually</a></p>
                            {% else %}
                                <p>There are no available songs in your songs list.</p>
                                <p><a href='/portal/group/{{ group.pk }}/gift'>Gift manually</a></p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    
                {% else %}
                    <p>It's not anyone's turn.</p>
                    {% if group.prev_turn %}
                        <h3>Last Turn: {{ group.prev_turn.owner.username }}</h3>
                        {% if group.prev_turn.song_list.all|length > 0 %}
                            <ul>
                            {% for song in group.prev_turn.song_list.all %}
                                <li>
                                    {{ song.recommender.username }} gifted <a href='{{ song.url }}' target='_blank'>{{ song.name }}</a>
                                    {% if song.rating or song.rank or song.comment %}
                                        <ul>
                                        {% if song.rating %}
                                            <li>
                                                Rating: {{ song.rating }}
                                            </li>
                                        {% endif %}
                                        {% if song.rank %}
                                            <li>
                                                Rank: {{ song.rank }}
                                            </li>
                                        {% endif %}
                                        {% if song.comment %}
                                            <li>
                                                Comment: {{ song.comment }}
                                            </li>
                                        {% endif %}
                                        </ul>
                                    {% endif %}
                                    </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                    <br>
                    
                    {% if group.member_list.all|length > 1 %}
                        <p><a href='/portal/group/{{ group.pk }}/start_turn' onclick="return confirm('Are you sure you want to start the turn?')">Start turn</a></p>
                    {% else %}
                        <p>You need at least two members to song gift!</p>
                    {% endif %}
                {% endif %}
                
            {% else %}
                <p>No members in this group!</p>
            {% endif %}
        {% else %}
            <p>This group is not valid.</p>
        {% endif %}
    </section>
    <br>
    <br>
{% endblock %}

