{% extends "portal/portal.html" %}
{% comment %}
    My songs page of portal.
{% endcomment %}

{% block title %}
    My Songs
{% endblock %}

{% block content %}
    <section>
        <h2>{{ user.username }}'s Songs</h2>
        <p>This is the my songs page of the web portal.</p>
        <p><a href='addsong/'>Add Song</a></p>
        <br><br>
        {% if songs|length > 0 %}
            {% for song in songs %}
            <p>
                <a href='{{ song.url }}'>{{ song.name }}</a> | <a href='remove/{{ song.pk }}'>Remove</a>
            </p>
            {% endfor %}
        {% else %}
            <p>No songs have been added yet.</p>
        {% endif %}
    </section>
    <br>
    <br>
{% endblock %}

