{% extends "portal/portal.html" %}
{% comment %}
    My songs page.
{% endcomment %}

{% block title %}
    My Songs
{% endblock %}

{% block content %}
    <section>
        <h2>{{ user.username }}'s Songs</h2>
        <p><a href='addsong/'>Add Song</a></p>
        <br><br>
        <h3>Queue</h3>
        {% if nsongs|length > 0 %}
            <ul>
            {% for song in nsongs %}
            <li>
                <a href='{{ song.url }}' target='_blank'>{{ song.name }}</a> [<a href='edit/{{ song.pk }}'>Edit</a>] [<a href='remove/{{ song.pk }}' onclick="return confirm('Are you sure?')">Remove</a>]
                <ul>
                    <li>
                        Added on {{ song.time_added }} 
                    </li>
                    <li>
                        Recommended for:
                        {% if song.suggested_members.all|length > 0 %}
                            <ul>
                                {% for m in song.suggested_members.all %}
                                    <li>{{ m.username }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Nobody
                        {% endif %}
                    </li>
                    <br>
                </ul>
            </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No songs in your queue.</p>
        {% endif %}
        <br>
        {% if osongs|length > 0 %}
            <h3>Recently Gifted Songs</h3>
            <ul>
            {% for song in osongs %}
                <li>
                <a href='{{ song.url }}' target='_blank'>{{ song.name }}</a>
                <ul>
                    <li>Turn Time: {{ song.turn_time }}</li>
                    <li>Rater: {{ song.rater.username }}</li>
                    <li>Rating: {{ song.rating }}</li>
                    <li>Rank: {{ song.rank }}</li>
                    <li>Comment: {{ song.comment }}</li>
                </ul>
            {% endfor %}
        {% endif %}
    </section>
    <br>
    <br>
{% endblock %}

