{% extends "base.html" %}
{% comment %}
    This is main template for all portal pages.
{% endcomment %}

{% block head %}
    <title>Dame Dame Desu | {% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
    <header>
        <h1>Sogi</h1>
    </header>

    <section>
        <ul>
            <a href="/portal/">Home</a><br>
            <a href="/portal/addgame/">Add Game</a><br>
            s<a href="/logout/">Logout</a><br>
        </ul>
    </section>

    {% block content %}{% endblock %}

    <footer>
        <span>&copy; 2016, Dame Dame Desu</span>
    </footer>
{% endblock %}


