{% extends "base.html" %}
{% comment %}
    This is main template for all portal pages.
{% endcomment %}

{% block head %}
    <title>Sogi | {% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
    <header>
        <h1>Sogi</h1>
    </header>

    <section>
        <ul>
            <li><a href="/portal/">Home</a></li>
            <li><a href="/portal/mysongs/">My Songs</a></li>
            <li><a href="/logout/">Logout</a></li>
        </ul>
    </section>

    {% block content %}{% endblock %}

    <footer>
        <span>&copy; 2015, Sogi</span>
    </footer>
{% endblock %}


