{% extends "base.html" %}
{% comment %}
    This is main template for all portal pages.
{% endcomment %}

{% block head %}
    <title>Sogi | {% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
    <header>
        <h1>Sogi</h1>
    </header>

    <section>
        <ul>
            <a href="/portal/">Home</a><br>
            <a href="/portal/mysongs/">My Songs</a><br>
            <a href="/portal/history/gift/self">Gift History</a><br>
            <a href="/portal/history/rate/self">Rate History</a><br>
            <a href="/logout/">Logout</a><br>
        </ul>
        
        {% if user.group_set.all|length > 0 %}
        <ul>
            <b>My Groups</b>
            <br>
            {% for g in user.group_set.all %}
            <a href="/portal/group/{{ g.pk }}">{{ g.name }}</a>
            <br>
            {% endfor %}
        </ul>
        {% endif %}
    </section>

    {% block content %}{% endblock %}

    <footer>
        <span>&copy; 2015, Sogi</span>
    </footer>
{% endblock %}


