{% extends "portal/portal.html" %}
{% comment %}
    Rate song.
{% endcomment %}

{% block title %}
    Rate Song
{% endblock %}

{% block content %}
    <section>
        <h2>Rate Song</h2>
        <h3>Song: <a href='{{ song.url }}'>{{ song.name }}</a></h3>

        <form action="/portal/group/{{ gid }}/rate/{{ song.pk }}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Rate Song">
        </form>
        
    </section>
    <br>
    <br>
{% endblock %}

