{% extends "portal/portal.html" %}
{% comment %}
    Rate history
{% endcomment %}

{% block title %}
    Rating History
{% endblock %}

{% block content %}
    <section>
        <h2>Songs rated by {{ name }}</h2>
        
        {% if songs|length > 0 %}
            {% for s in songs %}
                <ul>
                    Name: <a href='{{ s.url }}' target='_blank'>{{ s.name }}</a>
                    <br>
                    Gifted by {{ s.recommender.username }} at {{ s.turn_time }}
                    <br>
                    Rating: {{ s.rating }}
                    <br>
                    Rank: {{ s.rank }}
                    <br>
                    Comment: {{ s.comment }}
                    <br>
                </ul>
            {% endfor %}
        {% else %}
            <p>{{ name }} has not rated any songs yet!</p>
        {% endif %}
        
    </section>
    <br>
    <br>
{% endblock %}

