{% extends "base.html" %}
{% comment %}
    Registration page of website
{% endcomment %}

{% block head %}
    <title>Dame Dame Desu | Register</title>
{% endblock %}

{% block body %}
    <header>
        <h1>Dame Dame Desu</h1>
        <h2>Register</h2>
    </header>

    <section>
        <form action="" method="post">
        {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Sign up">
        </form>
    </section>
    
    <br><br>
    
    <section>
        <a href='/login/'>Log in</a> instead.
    </section>
    
{% endblock %}


