{% extends "base.html" %}
{% comment %}
    Data.
{% endcomment %}

{% block head %}
    <title>Data</title>
{% endblock %}

{% block body %}
    <header>
        <h1>Statistics</h1>
    </header>
    
    <section>
        Here is a list of champions<br>
        {% if d|length > 0 %}
            {% for name, freq in d.items %}
                <ul>
                    Name: {{ name }}<br>
                    Games: {{ freq }}<br>
                    <br>
                </ul>
            {% endfor %}
        {% endif %}
    </section>
    <br>
    <br>
{% endblock %}

