{% extends "base.html" %}
{% comment %}
    Data.
{% endcomment %}

{% block head %}
    <title>Data</title>
{% endblock %}

{% block body %}
    <header>
        <h1>Statistics</h1>
    </header>
    
    <section>
        <b>Sort by:</b> <a href="/data/bygames/">Most Games</a> | <a href="/data/byrate/">Win Rate</a> | <a href="/data/pastmonth">Most Games (past month)</a><br><br>

        <table border="1" cellpadding="5">
        <tr>
        <th>Champion</th>
        <th>Wins/Games</th>
        <th>Win Percentage</th>
        </tr>
        {% for name, gw in d %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ gw.1 }}/{{ gw.0 }}</td>
            <td>
            {% if gw.0 > 0 and gw.2 < 30 %} <p style="color:red">
            {% elif gw.0 > 0 and gw.2 < 40 %} <p style="color:orange">
            {% elif gw.0 > 0 and gw.2 < 50 %} <p style="color:yellow">
            {% else %} <p style="color:green">
            {% endif %}
            {{ gw.2|floatformat:2 }}%
            </p>
            </td>
        </tr>
        {% endfor %}
        </table>
    </section>
    <br>
    <br>
{% endblock %}

