{% extends "base.html" %}
{% comment %}
    Data.
{% endcomment %}

{% block head %}
    <title>Data</title>
{% endblock %}

{% block body %}
    <header>
        <h1>Statistics</h1>
    </header>
    
    <section>
        <b>Sort by:</b> <a href="/data/bygames/">Most Games</a> | <a href="/data/byrate/">Win Rate</a> | <a href="/data/monthgames">Most Games (past month)</a><br><br>
    
        {% for name, gw in d %}
        <ul>
            <b>{{ name }}</b>: {{ gw.1 }}/{{ gw.0 }} ({{ gw.2|floatformat:2 }}%)<br><br>
        </ul>
        {% endfor %}
    </section>
    <br>
    <br>
{% endblock %}

